html {
  height: 100%;
}
body {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); */
  margin: 0;
  width: auto;
  height: 100%;
}
a {
  color: #DAA520;
}
a:hover {
  color: #B8860B;
}

/* Wrappers for entire page/main content */
#wrap {
  min-height: 100%;
}
#main {
  margin-top: 45px;
}
#main .span6:nth-child(n+2) {
  margin-left: 30px;
}
#main #company_row .span6 {
  margin-left: 20px;
  width: 545px;
}

/* Navbar */
.navbar-fixed-top {
  position: static;
  margin-bottom: 0;
}
.navbar-fixed-top .container {
  width: auto;
}
.navbar .brand {
  margin-left: 0;
}
.navbar-inner {
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(to bottom, #333, #222);
  border: none;
}
.navbar .nav > li > a {
  color: #999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .divider-vertical {
  background-color: #222;
  border-right: 1px solid #333;
  border-left: none;
  width: 1px;
  overflow: hidden;
}

/* Top Section */
#header {
  background-color: #eee;
}
#logo-box .span12 {
  text-align: center;
  margin: 0 auto;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.container-fluid .span12 {
  width: 100%;
}
.container-fluid .span12 h1, .container-fluid .span12 h2 {
  display: inline;
}
.container-fluid .span12 h1 {
  margin-right: 20px;
}
.container-fluid .span12 h2 {
  width: 80%;
  margin-bottom: 0;
}
.container-fluid .span12 p {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  padding-top: 10px;
}
#logo {
  text-align: center;
  margin: 25px auto;
}
.page-heading {
  font-size: 42px;
  color: #2B2B2B;
}

/* Special mechmania.html styles */
.hero-unit.mechmania-info {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 45px;
  margin-bottom: 0;
}
#footnotes {
  padding: 8px 20px;
}
#footnotes .small-font {
  font-size: 11px;
  line-height: 17px;
}

/* index.html styles */
#homepage-hero {
  padding: 25px;
  font-size: 15px;
  line-height: 22px;
}
#homepage-span6 > .span6 {
  margin-left: 10px;
}
#homepage-carousel-space {
  margin-left: 20px;
}
#homepage-carousel {
  width: 496px;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 6px;
}
#homepage-carousel .carousel-inner .item > img {
  border-radius: 6px;
  width: 496px;
  height: 384px;
  z-index: -9;
}
.carousel-control {
  margin-top: 10px;
}

/* General text box styles */
.hero-unit .description {
  font-size: 13px;
  line-height: 18px;
}
.hero-unit {
  padding: 20px;
}
.hero-unit p {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.hero-unit.extra-pad p {
  padding-top: 22px;
  padding-bottom: 22px;
}

/* Contact page stylez yo */
.address p, #social-networking p {
  margin-bottom: 0;
}
#social-networking {
  margin-top: 20px;
}

/* Schedule page styles */
#event-schedule {
  margin: 0 auto;
  width: intrinsic;
}
#event-schedule h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#event-schedule .schedule {
  border: 1px solid #999;
}

#event-schedule .schedule > *:nth-child(4n+1),
#event-schedule .schedule > *:nth-child(4n+2) {
  background-color: #F9F9F9
}
#event-schedule .schedule .col2 {
  padding-bottom: 42px;
}
#event-schedule .schedule dt {
  padding: 8px;
  line-height: 18px;
  border-top: 1px solid #DDD;
}
#event-schedule .schedule dd {
  padding: 8px;
  margin-left: 136px;
  border-left: 1px solid #999;
  border-top: 1px solid #DDD;
}
#event-schedule .schedule dt:first-child,
#event-schedule .schedule dd:nth-child(2) {
  border-top: none;
}

#event-schedule .schedule dd p {
  padding: 8px 0;
  margin: 0;
}
#event-schedule .schedule dd p:first-child {
  padding: 0 0 8px 0;
  margin: 0;
}
#event-schedule .schedule dd p:last-child {
  padding: 8px 0 0 0;
  margin: 0;
}

/* Footer stylez yo */
#foot {
  width: intrinsic;
  position: relative;
  clear: both;
  margin: 25px auto;
  padding-bottom: 25px;
}
/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}
#foot h1 {
  color: #eee;
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}
#foot p {
  font-size: 16px;
  font-weight: lighter;
  color: #eee;
  text-align: center;
  margin-bottom: 10px;
}
#foot > .row > .span12 {
  width: 98%;
}
#foot > #copyright {
  font-size: 12px;
}
.company_list {
  font-size: 18px;
  margin-left: 0;
}
.company_list li {
  list-style-type: none;
  padding-bottom: 5px;
  font-weight: bold;
}
.company_list:last-child {
  padding-bottom: 0px;
}
#company_list_2 {
  top: 0;
}
#company_row {
  margin: 20px auto 0 auto;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #991B1E;
}
.speaker_name, .speaker_job {
  display: inline;
}
/*
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: inherit;
  color: #991B1E;
}
*/

h2.home-links{
  text-align: center;
  border-bottom: 1px solid #ccc;
}

h2.home-links:last-child{
  border-bottom: 0px;
}

h2.home-links a:hover{
  text-decoration: none;
  color: #B8860B;
}
/*
.crarr{
  background: url("../img/crarr.png");
  height: 36px;
  width: 40px;
}

.crarr.left{
  float: left;
  margin-left: 20px;
}

h2.home-links a:hover .crarr.left{
  margin-left: 60px;
}

.crarr.right{
  float: right;
  background-position: -40px 0px;
  margin-right: 20px;
}

h2.home-links a:hover .crarr.right{
  margin-right: 60px;
}
*/
